.container-search {
  margin: auto;
  min-width: 255px;
  width: 40%;
  padding-bottom: 5px;
}

.btn-group {
  display: flex;
}

.special .btn {
  flex: 1;
}

.tickers a {
  padding-bottom: 5px;
}

.ticker {
  margin: auto;
}
